body{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin-top: 18px;
    width: 288px;
    height: 510px;
    background-color: #3a4452;
}
.input_field input{
    flex: 1;
    font-size: 28px;
    text-align: right;
    margin-left: 18px;
    color: white;
    border: none;
    outline: none;
    margin-top: 68px;
    width: 249px;
    height: 47px;
    background-color: transparent;
    box-shadow:-5px -5px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.buttons_operation{
    margin-top: 29px;
    width: 240px;
    height: 320px;
}
section .buttons_operation .one{
    top:0px;
    position: relative;
    left: 22px;
    right: 9px;
}
.buttons_operation ul li button{
    font-size: 18px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.0),5px 5px 15px rgba(0,0,0,0.4);
    color: white;
    background: #3a4452;
    width: 60px;
    height: 60px;
    border-radius: 6px;
}
.buttons_operation .one ul{
    padding-left: 0px;
    margin-left: 0px;
    display:flex;
    list-style: none;
}
.buttons_operation .one ul li{
    padding-left: 2px;
    height: 60px;
    margin-right: 1px;
}
section .buttons_operation .second{
    bottom:10px;
    position: relative;
    left: 22px;
    right: 9px;
}
.buttons_operation .second ul{
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
    list-style: none;
}
.buttons_operation .second ul li{
    padding-left: 2px;
    height: 60px;
    margin-right: 1px;
}
section .buttons_operation .third{
    bottom:20px;
    position: relative;
    left: 22px;
    right: 9px;
}
.buttons_operation .third ul{
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    list-style: none;
}
.buttons_operation .third ul li{
    padding-left: 2px;
    height: 60px;
    margin-right: 1px;
}
section .buttons_operation .fourth{
    bottom:31px;
    position: relative;
    left: 22px;
    right: 9px;
}
.buttons_operation .fourth ul{
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    list-style: none;
}
.buttons_operation .fourth ul li{
    padding-left: 2px;
    height: 60px;
    margin-right: 1px;
}
section .buttons_operation .bottom_buttons{
    bottom:41px;
    position: relative;
    left: 22px;
    right: 9px;
}
.buttons_operation .bottom_buttons ul{
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    list-style: none;
}
.buttons_operation .bottom_buttons ul li{
    padding-left: 2px;
    height: 60px;
    margin-right: 1px;
}